.slider-img {
    height: 480px;
    object-fit: cover;
    filter: brightness(0.5);
}

.about_me_content {
    padding: 50px;
    font-size: 1.2rem;
    width: 80%;
    text-align: center;
    margin: auto;
}

.gallery_preview {
    background-color: #023047;
    box-shadow: 0px 0px 10px #5b527198;
    color: #FFFFFF;
}

.gallery_pictures {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px   ;
    padding: 30px;
}

.content_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_text p {
    padding: 0px 100px;
    text-align: center;
    font-size: 1.2em;
}

.gallery_preview img {
    object-fit: cover;
    width: 350px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.329);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.gallery_preview img:hover {
    transform: scale(1.2);
}


.books_preview {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.books_preview_content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    font-size: 1.2em;
    text-align: center;
}

.books_preview_content img {
    object-fit: cover;
    width: 250px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}

.books_preview_content img:hover {
    transform: scale(1.5);
}

.contact_content {
    background-color: #023047;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    gap: 50px;
}

.content {
    max-width: 50%;
    color: white;
    padding: 20px;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 10px;
}

.content a {
    margin-right: 10px;
    text-decoration: none;
}

#contact_form {
    padding: 20px;
    font-size: 1.2em;
    border-radius: 10px;
    color: white;
}


input[type=text],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
label {
    padding-top: 20px;
}

input[type=submit] {
    padding: 10px;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    background-color: #991045;
    border-radius: 10px;
}

input[type=submit]:hover {
    background-color: #99104598;
}


.social_media {
    display: block;
    text-align: center;
}

.social_media a {
    font-size: 40px;
    color: #991045;
}

.errorDiv {
    color: red;
    font-size: 0.6em;
    white-space: pre-wrap;
}

input.error {
    border: 2px solid red;
    background-color: #ffe6e6;
}

/*BREAKPOINT FOR TABLET SIZE*/
@media (max-width: 768px) {

    .content_text p {
        padding: 0px 10px;
    }
    .about_me_content {
        padding: 10px;
    }

    .contact_content {
        flex-wrap: wrap;
        gap: 0;
    }

    .gallery_pictures,
    .books_pictures {
        padding: 10px;
        gap: 0;
    }

    .mobile_hide_first {
        display: none;
    }

    footer {
        flex-direction: column;
    }

    .books_preview,
    .books_preview_content {
        padding: 10px;
        gap: 10px;
    }
    .content {
        max-width: 90%
}

/*REDUCE PADDING SIZE ON SMALLER SCREENS*/
@media (max-width: 375px) {

    .about_me_content {
        padding: 10px;
    }

    .content_text p {
        padding: 10px;
    }

}

/*REMOVE IMAGES ON SMALLER SCREENS*/
@media (max-width: 350px) {
    .gallery_preview img,
    .books_pictures img, 
    .books_preview_content img {
        display: none;
    }
}