.about_me_content {
    padding: 50px;
}

.gallery_preview {
    background-color: #4D6C8A;
    box-shadow: 0px 0px 10px #5b527198;
}

.gallery_preview h2 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    padding: 30px;
    text-align: center;
}

.books_preview h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    padding: 30px;
    text-align: center;
}

.gallery_preview img,
.books_pictures img {
    transform: scale(0.9);
    object-fit: cover;
    max-width: 350px;
    border-radius: 5PX;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.gallery_pictures,
.books_pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
}

.content_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_link {
    font-size: 1.2rem;
    background-color: #05152C;
    border-radius: 10px;
    padding: 15px;
}

.button_link a {
    color: white;
    text-decoration: none;
}

.button_link:hover {
    background-color: #05152c7e;
}

.contact_content {
    background-color: #4D6C8A;
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}

.content {
    padding: 20px;
}

.content a {
    margin-right: 10px;
    text-decoration: none;
}

.content h2 {
    text-align: center;
}

#contact_form {
    padding: 20px;
    border: 1px solid #05152C;
    border-radius: 10px;
    font-size: 1.2em;
}

input[type=text],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input[type=submit] {
    width: 100%;
    padding: 5px;
    font-size: 1.2rem;
    color: white;
    background-color: #05152C;
    border-radius: 10px;
}

input[type=submit]:hover {
    background-color: #05152c7e;

}

.social_media {
    display: block;
    text-align: center;
}

.social_media a {
    padding-top: 20px;
    font-size: 40px;
    color: #F7D2CF;
}

/*BREAKPOINT FOR TABLET SIZE*/
@media (max-width: 768px) {

    .contact_content {
        flex-wrap: wrap;
        gap: 0;
    }

    .gallery_pictures,
    .books_pictures {
        padding: 10px;
    }

    .mobile_hide_first {
        display: none;
    }

    footer {
        flex-direction: column;
    }

    .gallery_preview h2,
    .books_preview h2 {
        font-size: 1.5rem;
    }
}

/*REDUCE IMAGE SIZE ON SMALLER SCREENS*/
@media (max-width: 375px) {

    .gallery_preview img,
    .books_pictures img {
        max-width: 90%;
    }
}
/*REMOVE IMAGES ON SMALLER SCREENS*/
@media (max-width: 300px) {

    .gallery_preview img,
    .books_pictures img {
        display: none;
    }
}