body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(230, 230, 230);
    height: 100vh;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

/*gallery special background*/
body.gallery_bckgrnd {
    background-color: #05152C;
}


/*NAVIGATION*/
nav {
    margin: 0;
    background-color: #4D6C8A;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav li {
    height: 50px;
}

nav a {
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #F7D2CF;
    font-size: larger;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav a:hover {
    background-color: #869CB5;
}

nav li:first-child {
    margin-right: auto;
}


/*NAVIGATION  FOR MOBILE */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    z-index: 999;
    background-color: rgba(135, 157, 181, 0.582);
    /*rgba color otherwise there is no blur*/
    backdrop-filter: blur(10px);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.menu_btn {
    display: none;
}




.about_me_content {
    padding: 50px;
}


.gallery_preview {
    background-color: #4D6C8A;
    box-shadow: 0px 0px 10px #5b527198;
}

.gallery_preview h2 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    padding: 30px;
    text-align: center;
}

.books_preview h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    padding: 30px;
    text-align: center;
}

.gallery_preview img,
.books_pictures img {
    transform: scale(0.9);
    object-fit: cover;
    max-width: 350px;
    border-radius: 5PX;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.gallery_pictures,
.books_pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
}

.content_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_link {
    font-size: 1.2rem;
    background-color: #05152C;
    border-radius: 10px;
    padding: 15px;
}

.button_link a {
    color: white;
    text-decoration: none;
}

.button_link:hover {
    background-color: #05152c7e;
}









.contact_content {
    background-color: #4D6C8A;
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}

.content {
    width: 50%;
    padding: 20px;
}

.content a {
    margin-right: 10px;
    text-decoration: none;
}

.content h2 {
    text-align: center;
}

#contact_form {
    padding: 20px;
    border: 1px solid #05152C;
    border-radius: 10px;
    font-size: 1.2em;
}

input[type=text],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input[type=submit] {
    width: 100%;
    padding: 5px;
    font-size: 1.2rem;
    color: white;
    background-color: #05152C;
    border-radius: 10px;
}

input[type=submit]:hover {
    background-color: #05152c7e;

}

.social_media {
    display: block;
    text-align: center;
}

.social_media a {
    padding-top: 20px;
    font-size: 40px;
    color: #F7D2CF;
}


footer {
    background-color: #4D6C8A;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

footer a {
    text-decoration: none;
    color: black;
}


/*BOOKS*/

#hero {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
}

.current {
    background-color: #4D6C8A;
}

.book_current {
    display: flex;
    margin: 0 auto;
    gap: 30px;
    align-items: center;
    padding: 50px;
}

.book_latest {
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 50px;
    gap: 50px;
}

.single_heading {
    text-align: center;
}

.book_content {
    padding: 50px;
}

#book_current_img {
    border-radius: 5px;
}

.recommends {
    background-color: #4D6C8A;
}

.recommends_split {
    padding: 20px;
    display: flex;
    align-items: center;
}

.recommends_content {
    width: 33%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommends_content img {
    width: 250px;
    height: 370px;
    object-fit: cover;
    border-radius: 10px;
}



.book_headline {
    text-align: center;
    padding: 20px;
}



.gallery {
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
}

.v-stretch {
    grid-row: span 2;
}

.h-stretch {
    grid-column: span 2;
}

.big-stretch {
    grid-row: span 2;
    grid-column: span 2;
}

.gallery div img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.4);
}








@media(max-width: 950px) {
    .hideOneMobile {
        display: none;
    }

    .menu_btn {
        display: block;
    }

    p {
        margin: 0;
    }

    .contact_content {
        flex-wrap: wrap;
        gap: 0;
    }

    .content {
        width: 100%;
    }

    .gallery_pictures,
    .books_pictures {
        padding: 10px;
    }

    .mobile_hide_first {
        display: none;
    }

    footer {
        flex-direction: column;
    }

    .gallery_preview h2,
    .books_preview h2 {
        font-size: 1.5rem;
    }

    .recommends_split {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .recommends_content {
        width: 90%;
    }


    .book_current, 
    .book_latest  {
        flex-direction: column;
    }

}

@media (max-width: 560px) {
    .v-stretch {
        grid-row: span 1;
    }

    .h-stretch {
        grid-column: span 1;
    }

    .big-stretch {
        grid-row: span 1;
        grid-column: span 1;
    }

    .book_current, 
    .book_latest, 
    .book_content {
        padding: 10px;
    }
}

@media (max-width: 375px) {
    .mobile_hide {
        display: none;
    }

    .sidebar {
        width: 100%;
    }

    .gallery_preview img,
    .books_pictures img {
        max-width: 90%;
    }

    .book_current img, 
    .book_latest img, 
    .recommends_content img {
        display: none;
    }


}

@media (max-width: 300px) {
    .nav_link {
        display: none;
    }

    .gallery_preview img,
    .books_pictures img {
        display: none;
    }




}